body {
  padding-top: 50px;
}

.custom-template {
  padding: 40px 15px;
}

.main-content {
  padding-bottom: 50px;
}

.contact-list {
	padding-left: 0;
	text-align: center;
}

.contact-list > ul {
	padding-left: 0;
}

.contact-list > ul > li {
  position: relative;
  display: block;
}

.contact-list > ul > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.post-list  > li {
  padding-left: 0;
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 200%;
}

.post-list > li > a {
	color: #307EA9;
}

span.date {
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}

img {
	max-width: 100%;
}
